{% extends 'mailings/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container ">
    {% include 'blog/includes/inc_title.html' %}

    <div class="card" style="width: 45rem;">
        <img src="{{ object.image_preview | mediapath }}" class="card-img-top" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ object.title }}</h5>
            <p class="card-text">{{ object.creation_date }}</p>
            <p class="card-text">{{ object.body }}</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                {% if perms.blog.change_blog %}
                <a href="{% url 'blog:blog_edit' object.slug %}" type="button"
                   class="btn btn-outline-info">Edit</a>
                {% endif %}
                {% if perms.blog.delete_blog %}
                <a href="{% url 'blog:blog_delete' object.slug %}" type="button" class="btn btn-outline-info">Delete</a>
                {% endif %}
            </div>
            <div class="card-footer mt-3">Просмотры: {{ object.count_views }}</div>
        </div>
    </div>


</div>
{% endblock %}